body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #87ceeb;
    font-family: Arial;
  }
  
  .weather-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 15px;
    cursor: pointer;
  }
  